<head>
<meta http-equiv="refresh" content="5" />
</head>

<body>
  
<p id="notice"><%= notice %></p>

<h1>Guest List</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Guest name</th>
      <th> Registered? </th>
      <th> Admin </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% # @guests = Guest.where(:guests => {:event_id => @event.id}) %>
    <% @event.guests.each do |guest| %> 
      <tr> 
        <td><%= guest.guest_name %></td>
        <td><%= if guest.checked == true
      link_to '<span class="glyphicon-class glyphicon glyphicon-ok-sign"></span>'.html_safe, checked_event_guest_path(@event, guest)
                        else
      link_to '<span class="glyphicon-class glyphicon glyphicon-remove-sign"></span>'.html_safe, checked_event_guest_path(@event, guest)
                        end   
        %></td>        
<td><%= link_to 'Show', event_guest_path(@event, guest) %></td>
  <!--      <td><%= link_to 'Edit', edit_event_guest_path(@event,guest) %></td>  -->
        <td><%= link_to 'Remove', [@event,guest],  :method => :delete %></td>
              
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add Guest", new_event_guest_path(@event) %>  |
<%= link_to "Back to Events", events_path %> 

</body>