<p id="notice"><%= notice %></p>

<h1>Guest List</h1>

<table>
  <thead>
    <tr>
      <th>Guest name</th>
      <th>Guest email</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% # @guests = Guest.where(:guests => {:event_id => @event.id}) %>
    <% @event.guests.each do |guest| %> 
      <tr> 
        <td><%= guest.guest_name %></td>
        <td><%= guest.guest_email %></td>
        <td><%= guest.event_id  %></td>
        <td><%= link_to 'Show', event_guest_path(@event, guest) %></td>
        <td><%= link_to 'Edit', edit_event_guest_path(@event,guest) %></td>
        <td><%= link_to 'Destroy', [@event,guest],  :method => :delete %>
      </tr>
    <% end %>  
  </tbody>
</table>

<br>

<%= link_to "New Guest", new_event_guest_path(@event) %>
