<p id="notice"><%= notice %></p>

<p>
  <strong>Guest name:</strong>
  <%= @guest.guest_name %>
</p>

<p>
  <strong>Guest email:</strong>
  <%= @guest.guest_email %>
</p>

<p>
  <strong>Event:</strong>
  <%= @guest.event_id %>
</p>

<%= link_to 'Edit', edit_event_guest_path(@event, @guest) %> |
<%= link_to 'Back', event_guests_path(@event) %>
